<app-nav> </app-nav>
<button (click)="createUser()"> Create user </button>
<button (click)="login()"> Login </button>
<button (click)="getProfile()"> Get Profile </button>
<a href="../assets/file/texto.txt" dowload>Descargar</a>
<hr />

<button (click)="downloadPdf()"> Descargar PDF </button>
<app-products> </app-products>




<!--Los componentes pueden ser usados como un tag html
<p> <input type="text" [(ngModel)]="imgParent"  >    </p>
<button (click)="toggleImg()">Toggle Img </button>
<p> {{ showImg  }}</p>
<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"> </app-img>
<hr/> -->
